<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div class="center hero-unit">
  <p> 
  <img src= "public/assets/myphoto.png", alt = "Nikita", class = "photo", text-align = "top" >
    Hi, I'm Nikita Bazylchuk welcome to BSUIR blogs. I am a student Belarusian State University of Informatics and Radioelectronics, faculty of Computer Systems and Networks, speciality computers systems and network. This site is written in laboratory work on the subject, technology development and testing software.
  </p>
</div>