<% provide(:title, 'Contact') %>
<h1>BSUIR blogs, Contact</h1>
<div class="center hero-unit">
  <h3> 
    If you want to contact me for suggestions and criticism.
  </h3>
  <p> 
    My e-mail <img src= "public/assets/gmail.png", alt = "Mail", class = "icon"> : <b>nikita.bazylchuk@richtime.by</b> , 
    skype <img src= "public/assets/skype.png", alt = "Skype", class = "icon"> : <b>nikita_bazylchuk</b> 
  </p>
</div>