<% provide(:title, 'Helper') %>
<h1>Help</h1>
<div class="center hero-unit">
  <p> 
    If you have any questions or problems, please contact us by email: <b>niktabasylschuk@gmail.com</b>
  </p>
  <p> Maybe it's not a bug, but feature  </p>
</div>