<footer class="footer">
  <small>
    BSUIR blogs
    <a href="https://vk.com/nikita_baz">by Nikita Bazylchuk</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://bsuir.by/">News</a></li>
    </ul>
  </nav>
</footer>