<!-- <footer class="footer">
  <small>
    BSUIR blogs
    <a href="https://vk.com/nikita_baz">by Nikita Bazylchuk</a>
  </small>
  <nav>
    <ul>
      <li></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://bsuir.by/">News</a></li>
    </ul>
  </nav>
</footer> -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; BSUIRConnect 2016</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                    </li>
                    <li>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><%= link_to "Contact", contact_path %></li>
                    <li><%= link_to "Privacy Policy",   about_path %></li>
                    <li><%= link_to "Terms of Use", contact_path %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
